<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132894885676-25skfndv5f9c0300486aj8rfd602sqpn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132894885676-25skfndv5f9c0300486aj8rfd602sqpn</string>
	<key>API_KEY</key>
	<string>AIzaSyAp7Tpm9m7iOCt4BPmDojGULrsWedWXmkk</string>
	<key>GCM_SENDER_ID</key>
	<string>132894885676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nhom24.doan2023199.appDacSan</string>
	<key>PROJECT_ID</key>
	<string>musicplayerz-63f2e</string>
	<key>STORAGE_BUCKET</key>
	<string>musicplayerz-63f2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132894885676:ios:a922404cd85288db3ece89</string>
	<key>DATABASE_URL</key>
	<string>https://musicplayerz-63f2e-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>